@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #7001FD;
    --secondary-color: #1E2772;
    --text-color: #555555;
    --gray-bg: #EEEEEE;
    --gray-secondary-bg: #F1F3F6; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow:0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;      
    }

    .main-section{
        gap: 8px;
        flex-grow: 1;
        background-color: var(--gray-bg);     
        padding: 77px;
    }

    .form-section{
        flex-grow: 0.3;
        padding: 35px;

        img{
            margin-bottom: 30px;
        }

        h2{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 45px;
        }

        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 34px;

            span{
                font-size: 14px;
                text-decoration: underline;
                color: var(--secondary-color);
                text-align: end;
            }
        }
        
        .input-wrapper {
            color: var(--text-color);
            font-size: 16px;
            text-align: start;
        
            label {
                margin-bottom: 10px;
            }
        
            .input-content {
                width: 100%;
                border-radius: 8px;
                display: flex;
                
                .icon {
                    padding: 12px;
                    background-color: var(--primary-color);
                    border-radius: 0 8px 8px 0;
        
                    img {
                        height: 20px;
                    }
                }
        
                input {
                    border: none;
                    border-radius: 8px 0 0 8px;
                    background-color: var(--gray-secondary-bg);
                    padding: 12px 0 12px 20px;
                    width: 100%;
                }
            }
        }


    
    .btn-wrapper{
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 30px;

        .divider{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 100%;
            
            font-size: 14px;
            color: var(--gray-bg);
            font-weight: 400;
            text-transform: uppercase;
            

            div{
                flex-grow: 1;
                height: 2px;
                background-color: var(--gray-bg);
            }
        }
        
        button{
            width: 100%;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            border: none;
            background-color: transparent;
            padding: 12px 24px;
            cursor: pointer;

            &.primary-btn{
                background-color: var(--primary-color);
                color: white;
                box-shadow:0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
            } 
            
            &.secondary-btn{
                border: 1px solid var(--primary-color);
                color: var(--primary-color);
            }
        }
    }
}
}